<p>
  <strong>Test ID:</strong>
  <%= @question.test_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %>
<%= link_to 'Back', test_path(@question.test) %>
