<tr>
  <td><%= badge.title %></td>
  <td class="text-center"><%= badge.rule %></td>
  <td class="text-center"><%= badge.image %></td>
  <td class="text-center"><%= link_to t('links.delete'),
                admin_badge_path(badge),
                method: :delete,
                data: { confirm: t('links.confirm') } %>
  </td>
</tr>
