<tr>
  <td style="text-align: center; vertical-align: middle;"><b><%= badge.title %></b> (<%= badge.rule.text %>)</td>
  <td class="text-center"><img src="<%= "#{badge.image}" %>" alt="<%= "#{badge.title}" %>"></td>
</tr>
