<% if recource.errors.present? %>
<div>
  <h2><%= t('.header', count: recource.errors.count) %></h2>
  <ul>
    <% recource.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
