<footer class="page-footer font-small blue fixed-bottom">
  <div class="footer-copyright text-center py-3">
    <%= current_year %> <%= github_url('histfak', 'TestGuru') %><br>
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com/', target: '_blank' %><br>
    <%= link_to t('services.feedback'), feedbacks_path unless current_user.admin? %>
  </div>
</footer>
